body {
  background-color: rgb(0, 180, 255);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  
}

*{
  font-style: italic;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid rgba(0, 0, 0, 0.699);
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #00000094;
}

tr:hover {
  background-color: rgb(255, 255, 255);
}

th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: #8c00ff;
  color: rgba(255, 255, 255, 0.842);
}

td, th {
  color: rgba(0, 0, 0, 0.795);
}


